################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll.config
*.lnk
1-user-setup.sql
unpublished.*
.svn/
.vs/
/app.ini
/bin/*.xml
/bin/*/
/lib/ki/
/obj/
/packages/
/web.config
