################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll.config
*.lnk
*.user
1-user-setup.sql
.svn/
.vs/
obj/
packages/
unpublished.*
/app.ini
/bin/*.xml
/bin/*/
/obj/
/packages/
/web.config
