<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.phtml" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="PhpHandler" path="*.php" verb="*" type="Pchp.Core.RequestHandler, Peachpie.RequestHandler" preCondition="integratedMode" />
      <add name="PhpHandler-PHTML" path="*.phtml" verb="*" type="Pchp.Core.RequestHandler, Peachpie.RequestHandler" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>
